* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    padding: 56px 59px;
}
.title{
    font-size: 1.5em;
    line-height: 77px;
    font-weight: 700;
}
.gallery-container {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    box-sizing: content-box;
}
.gallery-items {
    width: 100%;
    height: 100%;
}
.gallery-item-1 {
    background-image: url(./img01.jpg);
    background-size: cover;
}
.gallery-item-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.gallery-item-2-item-1 {
    background-image: url(./img1.jpg);
    background-size: cover;
}
.gallery-item-2-item-2 {
    background-image: url(./img2.jfif);
    background-size: cover;
}
.gallery-item-2-item-3 {
    background-image: url(./img3.jfif);
    background-size: cover;
}
.gallery-item-2-item-4 {
    background-image: url(./img4.jpg);
    background-size: cover;
}
.gallery-item-3 {
    background-image: url(./img6.webp);
    background-size: cover;
}
.gallery-item-4 {
    background-image: url(./img7.jpg);
    background-size: cover;
    position: relative;
}
.gallery-item-4 .read-more{
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
}